---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: Helvetica, Arial, sans-serif;
$secondary-font-family: "Alternate Gothic", Helvetica, Arial, sans-serif;

$text-color: #111;
$secondary-text-color: #fff;
$background-color: #eee;
$brand-color: #b8242b;
$brand-color-dark: darken($brand-color, 10%);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	border: 1px solid #c6c9cc;
	border-radius: 5px;
 	padding: 10px 20px;
	th {
    text-align: center;
  }
  td {
		border-color: #c6c9cc;
		border-style: solid;
		border-width: 1px 1px 1px 1px;
  	padding: 5px 10px;
	}
}

@import "fonts";
@import "foundation";
@import "base";
@import "misc";
@media only screen and (max-width: 600px) {
  @import "mobile";
}
