---
---

/* Slideshow container */
.slideshow-container {
 max-width: 1000px;
 margin: auto;
 position: absolute;
 display: block;
 bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.frame{
  height: 750px;
  position: relative;
  margin: auto;
}

.slideshow-container div img {
  width: 100%;
}

.slideshow-container a {
  text-decoration: none;
}

/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 0;
 top: 50%;
 width: auto;
 margin-top: -22px;
 margin-left: -50%;
 padding: 16px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
 margin-right: 0%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
 color: #f2f2f2;
 font-size: 15px;
 padding: 8px 0px;
 position: absolute;
 bottom: 8px;
 width: 100%;
 text-align: center;
}

/* The dots/bullets/indicators */
.dot {
 cursor:pointer;
 height: 13px;
 width: 13px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}

.active, .dot:hover {
 background-color: #717171;
}

.mySlides {
  height: 100%;
  vertical-align: bottom;
  text-align: center;
}

/* Fading animation */
.fade {
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 1.5s;
}

@-webkit-keyframes fade {
 from {opacity: .4}
 to {opacity: 1}
}

@keyframes fade {
 from {opacity: .4}
 to {opacity: 1}
}
