---
layout: page
title: Maps
permalink: /maps/
---
<div class="maps-col-wrapper">
{% for map in site.data.maps | sort: 'price') %}
{% if map.id != 43525171 %}
  <div id="maps_col" class="maps_col_{{ map.name }}">
    <h3>
      <a href="{{ map.html_url }}" title="{{ map.full_name }}">
        {{ map.name }}
      </a>
    </h3>
    {% if map.description != null %}
      <p>{{ map.description }}</p>
    {% endif %}
    {% case map.stargazers_count %}
      {% when 0 %}
        <p><a href="{{ map.html_url }}/stargazers">Star</a></p>
      {% when 1 %}
        <p><a href="{{ map.html_url }}/stargazers"><span>{{ map.stargazers_count }}</span> star</a></p>
      {% else %}
        <p><a href="{{ map.html_url }}/stargazers"><span>{{ map.stargazers_count }}</span> stars</a></p>
    {% endcase %}
    {% if map.homepage != null %}
      <a href="{{ map.homepage }}">Website</a>
    {% endif %}
  </div>
{% endif %}
{% endfor %}
</div>
