<footer id="footer">
  <div class="footer-col-wrapper">
    <div class="footer-col">
      <h3>About</h3>
      <ul>
        <li><a href="{{ '/maps-list/maps/' | prepend: site.baseurl }}">Maps</a></li>
        <li><a href="https://www.gnu.org/copyleft/gpl.html">License</a></li>
        <li><a href="https://www.paypal.com/donate/?token=KjrrZQ_6ZhyLbmHwFkfUAip4f_Pcllmpdh1vZzRC6Q23pyGwqKB0ixI6azs2WQL7ecoL0W&country.x=CA&locale.x=CA">Donate</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Videos</h3>
      <ul>
        <li><a href="https://youtu.be/MX9ehmKFdmI">Introduction to TripleA</a></li>
        <li><a href="https://youtu.be/pIE3rpDD6PM">Playing Online</a></li>
        <li><a href="https://youtu.be/c9cfHsoWQoI">Playing by Email and by Forum</a></li>
        <li><a href="https://youtu.be/FtaSoypRveg">Advanced Features</a></li>
        <li><a href="https://www.youtube.com/channel/UC5ZXClXcn6mHxpSTHA3eLZg">TripleA on Youtube</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Development</h3>
        <ul>
          <li><a href="https://github.com/triplea-game/triplea/issues/new">Request a Feature</a></li>
          <li><a href="https://github.com/triplea-game/triplea">View Source Code on Github</a></li>
          <li><a href="https://github.com/triplea-game/triplea/issues">Current Issues on Github</a></li>
        </ul>
    </div>
  </div>
</footer>
