<footer id="colophon" class="site-footer">
  <div class="footer-col-wrapper">
    <div id="footer_col_3" class="footer_col about">
      <h3>About</h3>
      <ul>
        <li><a href="{{ '/about' | prepend: site.baseurl }}">About TripleA</a></li>
        <li><a href="{{ '/about/#features' | prepend: site.baseurl }}">Features</a></li>
        <li><a href="{{ '/maps' | prepend: site.baseurl }}">Maps</a></li>
        <li><a href="http://www.gnu.org/copyleft/gpl.html">License</a></li>
      </ul>
    </div>
    <div id="footer_col_2" class="footer_col videos">
      <h3>Videos</h3>
      <ul>
        <li><a href="http://youtu.be/MX9ehmKFdmI">Introduction to TripleA</a></li>
	    	<li><a href="http://youtu.be/pIE3rpDD6PM">Playing Online</a></li>
	    	<li><a href="http://youtu.be/c9cfHsoWQoI">Playing by Email and by Forum</a></li>
        <li><a href="http://youtu.be/FtaSoypRveg">Advanced Features</a></li>
        <li><a href="https://www.youtube.com/channel/UC5ZXClXcn6mHxpSTHA3eLZg">TripleA on Youtube</a></li>
      </ul>
    </div>
    <div id="footer_col_4" class="footer_col development">
      <h3>Development</h3>
        <ul>
          <li><a href="https://github.com/triplea-game/triplea/issues/new">Request a Feature</a></li>
          <li><a href="https://github.com/triplea-game/triplea">View Source Code on Github</a></li>
          <li><a href="https://github.com/triplea-game/triplea/issues">Current Issues on Github</a></li>
        </ul>
    </div>
  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <span class="fb-like" data-href="http://triplea-game.github.io/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></span>
  <br>
  <br>
  <p class="footer-text"> &copy; 2017 TripleA Contributors. Usage of this software is subject to the <a href="http://www.gnu.org/copyleft/gpl.html">GPL</a>.
</footer>
