<footer id="footer">
  <div class="footer-col-wrapper">
    <div class="footer-col">
      <h3>About</h3>
      <ul>
        <li><a href="https://www.gnu.org/copyleft/gpl.html">License (GPLv3)</a></li>
        <li><a href="https://www.youtube.com/channel/UC5ZXClXcn6mHxpSTHA3eLZg">TripleA on Youtube</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Development</h3>
        <ul>
          <li><a href="https://github.com/triplea-game/triplea/">TripleA Source Code (Github)</a></li>
          <li><a href="https://github.com/triplea-game/triplea/blob/master/docs/contribute.md">How to Contribute to TripleA</a></li>
          <li><a href="https://forums.triplea-game.org">Forums</a></li>
        </ul>
    </div>
  </div>
</footer>
