<header class="site-header">
  <nav class="site-nav">
    <ul>
      <li><a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/images/icon_menu.png' | prepend: site.baseurl }}" alt="TripleA Icon"></a></li>
      <li><h1><a href="{{ '/' | prepend: site.baseurl }}">TripleA</a></h1></li>
      <li class="menu-items"><a href="{{ '/download/' | prepend: site.baseurl }}">Download</a></li>

      <li class="menu-items"><a href="{{ '/maps-list/maps/' | prepend: site.baseurl }}">Maps</a></li>
      <li class="menu-items"><a href="https://forums.triplea-game.org/category/10/help-questions">Help</a></li>
      <li class="menu-items"><a href="https://forums.triplea-game.org">Forums</a></li>
    </ul>
  </nav>
</header>
