<header class="site-header">

  <div class="wrapper">
    <nav class="site-nav">
      <ul id="menu">
        <li><a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/images/icon_menu.png" | prepend: site.baseurl }}"></a></li>

        <li>
          <h1><a href="{{ "/" | prepend: site.baseurl }}">TripleA</h1></a></li>
        
        <li class="menu-items"><a href="http://github.com/triplea-game/triplea/releases/latest">Download</a></li>
        
        <li class="menu-items"><a href="{{ "/contribute" | prepend: site.baseurl }}">Contribute</a></li>

        <li class="menu-items"><a href="{{ "/maps" | prepend: site.baseurl }}">Maps</a></li>

        <li class="menu-items"><a href="{{ "/docs" | prepend: site.baseurl }}">Help & Documentation</a></li>

        <li class="menu-items"><a href="{{ "/community" | prepend: site.baseurl }}">Community</a></li>

      </ul>
    </nav>

  </div>

</header>
