.site-nav {
  > ul {
    width: 95%;
    float: left;
    padding-left: 1.7855em;
    padding-right: 1.7855em;
    list-style-type: none;
    font-family: $secondary-font-family;
  > li {
    float: left;
    padding: 5px;
    > h1 {
      margin: 40px 20px 40px 0;
      font-size: 30px;
      a {
        color: lighten($text-color, 10%);
        font-weight: bold;
      }
      a:hover {
        text-decoration: none;
        color: #b8242b;
      }
    }
    > img {
      display: inline-block;
      height: 100px;
      width: 100px;
      margin: 0 7px 0 0;
    }
    &.menu-items {
      margin: 50px 0 50px 0;
      padding: 0 10px 0 10px;
    }
    &.dl {
      float: right;
    }
    > a {
      color: lighten($text-color, 10%);
      font-weight: bold;
      &:hover {
        color: $brand-color;
        text-decoration: none;
      }
    }
    &.dl a {
      padding-top: 1.0rem;
      padding-bottom: 1.0625rem;
      margin: 30px 0 30px 0;
      font-weight: normal;
      color: $background-color;
      :hover {
        color: $background-color;
      }
    }
  }
  }
}

#headline {
  text-align: center;
  h2 {
    text-align: center;
    font-size: 3.5em !important;
    display: inline-block;
    font-family: $secondary-font-family;
    line-height: 1.2;
    color: lighten($text-color, 10%);
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .download {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

#page-content {
  margin: 0 10% 20px 10%;
  line-height: 2em;
  & h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }
}
.post-title {
  font-size: 2em;
  font-family: $secondary-font-family;
  padding-bottom: 0.5em;
}
.dl-links {
  min-width: 18%;
  p {
    margin-top: 10px;
  }
}

.scale-dl-container {
  transform: translate(-50%, -50%) scale(0.5) translate(50%, 50%);
  margin-bottom: -100px;
}

.dl-install4j-credit {
  text-align: right;
}

.installation-instructions {
  display: none;
}

body {
    background: $background-color;
    font-family: $base-font-family;
}
a {
    color: $brand-color;
}
ul > li, ol > li {
  display:list-item;
  margin-left: 2em;
}
code {
    background-color: $grey-color-light;
    border: 1px solid $grey-color;
    border-radius: 3px;
    padding: 3px;
}
blockquote {
  padding-left: 1em;
  border-left: 3px solid $grey-color;
  color: $grey-color-dark;
}
a:hover {
  color: $brand-color-dark;
  text-decoration: underline;
}
.button {
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    display: inline-block;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1.5625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: $brand-color;
    border-color: $brand-color-dark;
    color: #fff;
    transition: background-color 300ms ease-out;
}

.button:hover, .small-button:hover {
  text-decoration: none;
  background-color: $brand-color-dark;
  color: $background-color;
}

.small-button {
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  display: inline-block;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: $brand-color;
  border-color: $brand-color-dark;
  color: #fff;
  transition: background-color 300ms ease-out;
  margin: 2px;
}

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#container {
   min-height: 100%;
   position:relative;
}
#body {
   padding-bottom: 190px;
}

#footer {
  float: left;
  clear: both;
  width: 80%;
  padding: 20px 10% 15px 10%;
  background: url('../images/footer_bg.png') repeat-x;
  color: $secondary-text-color;
  position: absolute;
  bottom: 0;
  a {
    color: #fff;
  }
  a:hover {
    color: $brand-color;
    text-decoration: none;
  }
  .footer-col {
    float: left;
    width: 25%;
    padding: 10px 0 20px 0;
    h3 {
      margin-bottom: 0.5em;
      font-size: 1.2em;
      font-family: $secondary-font-family;
    }
  }
  .footer-text {
    text-align: center;
    font-family: $secondary-font-family;
    clear: both;
    font-weight: bold;
  }
}
