.show-on-install {
  display: none;
}
.thickTable {
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: separate;
  td {
    border-width: 1px;
    border-style: solid;
    border-spacing: 10px;
    padding: 10px;
  }
}
.thinTable {
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: separate;
  td {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
    padding: 10px;
  }
}
.table1 {
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: separate;
  td {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
    padding: 20px;
  }
}

.community-col {
 width: 30%;
 float: left;
 padding: 10px;
 margin: 5px;
}

.maps-col-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}

.maps-col {
  background-color: $grey-color-light;
  border: 1px solid $grey-color;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  min-width: 22%;
}

.maps-col-content-wrapper {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.maps-col-item {
  flex: 1 1 0;
}

.flex-right-align-item {
  right: 0;
  position: relative;
  float: right;
  height: 100%;
}

.flex-container {
  display: flex;
  padding: 5px;
}
.row-reverse {
  flex-direction: row-reverse;
}

.section-title {
  padding-top: 0.75em;
}

.maps-col-button {
    padding-top: 0.75rem;
    padding-right: 1rem;
    padding-bottom: 0.78125rem;
    padding-left: 1rem;
    float: right;
    margin: 3px 3px 3px 0;
}
