.fb-like.fb_iframe_widget {
  margin-left: calc(50% - 60px);
}

.community-col-wrapper {
  flex-direction: column;
}

.community-col {
  width: 95%;
  padding: 0;
  margin: 0;
}

#headline > h2 {
    font-size: 2em;
    margin-top: 50px;
}

.site-nav .site-nav__brand img {
  height: 80px;
  width: 80px;
}

#button-container {
  flex-direction: column;
  gap: 1rem;
}

.dl-links {
  width: 100%;
  min-width: 0;
}

.scale-dl-container {
  .button {
    flex: 1 1 auto;
  }
}

.dl-install4j-credit {
  text-align: center;
}

.mobile-smaller-text {
  font-size: 13px;
  text-align: center;
}

.post-title {
  text-align: center;
}
