.fb-like.fb_iframe_widget {
  margin-left: calc(50% - 60px);
}

#headline > h2 {
    font-size: 2em;
    margin-top: 50px;
}

.site-nav {
  > ul {
    padding: 0;
    width: 100%;
    list-style-type: none;
    font-family: $secondary-font-family;
  > li {
    margin: 0;
  	display: inline-block;
  	width: 100%;
  	text-align: center;
    padding: 0;
    > h1 {
      margin: 40px 0 40px 0;
      font-size: 30px;
      a {
        color: lighten($text-color, 10%);
        font-weight: bold;
      }
      a:hover {
        text-decoration: none;
        color: #b8242b;
      }
    }
    > img {
      display: block;
      height: 100px;
      width: 100px;
      margin: 0;
    }
    &.menu-items {
      margin: 0;
      padding: 10px 0px 10px 0px;
    }
    &.dl {
      margin: 0;
      float: left;
    }
    > a {
      color: lighten($text-color, 10%);
      font-weight: bold;
      &:hover {
        color: $brand-color;
        text-decoration: none;
      }
    }
    &.dl a {
      padding-top: 1.0rem;
      padding-bottom: 1.0625rem;
      margin: 0;
      font-weight: normal;
      color: $background-color;
      :hover {
        color: $background-color;
      }
    }
  }
  }
}

.dl-links {
  min-width: 74%;
  width: 74%;
}

.dl-install4j-credit {
  text-align: center;
}

.mobile-smaller-text {
  font-size: 13px;
  text-align: center;
}

.post-title {
  text-align: center;
}

.maps-col {
  min-width: unset !important;
}

.maps-col-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#footer {
  float: none;
  clear: none;
  .footer-col {
    float: none;
    width: 100%;
    text-align: center;
    h3 {
      margin-bottom: 0.5em;
      font-size: 1.5em;
    }
  }
}

#body {
   padding-bottom: 525px !important;
}
