---
layout: page
title: All Maps
permalink: /maps/all/
---

<p><a href="{{ "/maps" | prepend: site.baseurl }}">Maps</a> |  <a href="{{ "/maps/categories" | prepend: site.baseurl }}">Categories</a> | <a href="{{ "/maps/mods" | prepend: site.baseurl }}">Mods and Skins</a> | <a href="{{ "/maps/all" | prepend: site.baseurl }}">All</a></p>

<div class="maps-col-wrapper">
  {% for map in site.data.triplea_maps %}
  {% if map.mapType != "MAP_TOOL" %}
  <div id="maps_col" class="maps_col_{{ map.mapName }}">
    <h3>{{ map.mapName }}</h3>
      <!--<p class="maps_col_desc">{{ map.description }}</p>-->
      <p>
        <!--<span class="maps_col_version">Verison {{ map.version }}</span>-->
        <a class="maps_col_button button" href="{{ "/docs/downloading_maps" | prepend: site.baseurl }}">Download</a>
      </p>

  </div>
  {% endif %}
  {% endfor %}
</div>
