---
layout: page
title: Map Categories
permalink: /maps-list/categories/
---
<p><a href="{{ "/maps-list" | prepend: site.baseurl }}">Maps</a> |  <a href="{{ "/maps-list/categories" | prepend: site.baseurl }}">Categories</a> | <a href="{{ "/maps-list/mods" | prepend: site.baseurl }}">Mods and Skins</a> | <a href="{{ "/maps-list/all" | prepend: site.baseurl }}">All</a></p>
<div class="maps-col-section high_quality">
<h2 class="section-title">High Quality Maps</h2>
{% for map in site.maps %}
{% if map.mapCategory == "BEST" %}
  <div class="maps_col" data-map-name="{{ map.slug }}">
    <h3>{{ map.mapName }}</h3>
      <p>
        <a class="maps_col_button button" href="{{ "/map/" | prepend: site.baseurl | append: map.slug }}">Download</a>
      </p>
  </div>
{% endif %}
{% endfor %}
</div>
<div class="maps-col-section quality">
<h2 class="section-title">Quality Maps</h2>
{% for map in site.maps %}
{% if map.mapCategory == "GOOD" %}
  <div class="maps_col" data-map-name="{{ map.slug }}">
    <h3>{{ map.mapName }}</h3>
      <p>
        <a class="maps_col_button button" href="{{ "/map/" | prepend: site.baseurl | append: map.slug }}">Download</a>
      </p>
  </div>
{% endif %}
{% endfor %}
</div>
<div class="maps-col-section experimental">
<h2 class="section-title">Other Maps / Experimental / In Development</h2>
{% for map in site.maps %}
{% if map.mapCategory == "EXPERIMENTAL" %}
  <div class="maps_col" data-map-name="{{ map.slug }}">
    <h3>{{ map.mapName }}</h3>
      <p>
        <a class="maps_col_button button" href="{{ "/map/" | prepend: site.baseurl | append: map.slug }}">Download</a>
      </p>
  </div>
{% endif %}
{% endfor %}
</div>
