---
layout: page
title: Map Categories
permalink: /maps-list/categories/
---

<p><a href="{{ "/maps-list" | prepend: site.baseurl }}">Maps</a> |  <a href="{{ "/maps-list/categories" | prepend: site.baseurl }}">Categories</a> | <a href="{{ "/maps-list/mods" | prepend: site.baseurl }}">Mods and Skins</a> | <a href="{{ "/maps-list/all" | prepend: site.baseurl }}">All</a></p>

<div class="maps-col-section high_quality">
<h2 class="section-title">High Quality Maps</h2>
{% for map in site.data.triplea_maps) %}
{% if map.mapCategory == "BEST" %}
  <div id="maps_col" class="maps_col_{{ map.mapName }}">
    <h3>{{ map.mapName }}</h3>
      <!--<p class="maps_col_desc">{{ map.description }}</p>-->
      <p>
  <!--<span class="maps_col_version">Verison {{ map.version }}</span>-->
  <a class="maps_col_button button" href="{{ "/docs/downloading_maps" | prepend: site.baseurl }}">Download</a>
</p>
  </div>
{% endif %}
{% endfor %}
</div>

<div class="maps-col-section quality">
<h2 class="section-title">Quality Maps</h2>
{% for map in site.data.triplea_maps) %}
{% if map.mapCategory == "GOOD" %}
  <div id="maps_col" class="maps_col_{{ map.mapName }}">
    <h3>{{ map.mapName }}</h3>
      <!--<p class="maps_col_desc">{{ map.description }}</p>-->
      <p>
  <!--<span class="maps_col_version">Verison {{ map.version }}</span>-->
  <a class="maps_col_button button" href="{{ "/docs/downloading_maps" | prepend: site.baseurl }}">Download</a>
</p>
  </div>
{% endif %}
{% endfor %}
</div>

<div class="maps-col-section experimental">
<h2 class="section-title">Other Maps / Experimental / In Development</h2>
{% for map in site.data.triplea_maps) %}
{% if map.mapCategory == "EXPERIMENTAL" %}
  <div id="maps_col" class="maps_col_{{ map.mapName }}">
    <h3>{{ map.mapName }}</h3>
      <!--<p class="maps_col_desc">{{ map.description }}</p>-->
      <p>
  <!--<span class="maps_col_version">Verison {{ map.version }}</span>-->
  <a class="maps_col_button button" href="{{ "/docs/downloading_maps" | prepend: site.baseurl }}">Download</a>
</p>
  </div>
{% endif %}
{% endfor %}
</div>
