---
layout: page
title: Mods and Skins
permalink: /maps/mods/
---

<p><a href="{{ "/maps" | prepend: site.baseurl }}">Maps</a> |  <a href="{{ "/maps/categories" | prepend: site.baseurl }}">Categories</a> | <a href="{{ "/maps/mods" | prepend: site.baseurl }}">Mods and Skins</a> | <a href="{{ "/maps/tools" | prepend: site.baseurl }}">Map Tools</a> | <a href="{{ "/maps/all" | prepend: site.baseurl }}">All</a></p>

<div class="maps-col-section mod">
<h2 class="section-title">Map Mods</h2>
{% for map in site.data.triplea_maps) %}
{% if map.mapType == "MAP_MOD" %}
  <div id="maps_col" class="maps_col_{{ map.mapName }}">
    <h3>
      <a href="{{ map.url }}" title="{{ map.mapName }}">
        {{ map.mapName }}
      </a>
    </h3>
      <!--<p class="maps_col_desc">{{ map.description }}</p>-->
      <p>
  <!--<span class="maps_col_version">Verison {{ map.version }}</span>-->
  <a class="maps_col_button button" href="{{ map.url }}">Download</a>
</p>
  </div>
{% endif %}
{% endfor %}
</div>

<div class="maps-col-section skin">
<h2 class="section-title">Map Skins</h2>
{% for map in site.data.triplea_maps) %}
{% if map.mapType == "MAP_SKIN" %}
  <div id="maps_col" class="maps_col_{{ map.mapName }}">
    <h3>
      <a href="{{ map.url }}" title="{{ map.mapName }}">
        {{ map.mapName }}
      </a>
    </h3>
      <!--<p class="maps_col_desc">{{ map.description }}</p>-->
      <p>
  <!--<span class="maps_col_version">Verison {{ map.version }}</span>-->
  <a class="maps_col_button button" href="{{ map.url }}">Download</a>
</p>
  </div>
{% endif %}
{% endfor %}
</div>
