<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="container">
      {% include header.html %}
      <div id="body">
        <div id="page-content">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
    <script>
      var toggle = document.querySelector('.site-nav__toggle');
      if (toggle) {
        toggle.addEventListener('click', function () {
          var menu = document.getElementById('site-nav__menu');
          var isOpen = menu.classList.toggle('is-open');
          this.setAttribute('aria-expanded', isOpen);
        });
      }
    </script>
  </body>
</html>
