---
layout: default
---
<h2>{{ page.mapName }}</h2>
{% if page.mapCategory %}<h4>Category: {{ page.mapCategory }}</h4>{% endif %}
{% if page.mapType == "MAP_SKIN" %}<h4>Type: Map Skin</h4>{% endif %}
<img src="{% if page.img %}{{ page.img }}{% else %}{{ '/images/missing_map.png' | prepend: site.baseurl }}{% endif %}" alt="Map Thumbnail">
{{ content }}
<br>
<a href="{{ page.downloadUrl }}" class="button">Manual Download (v{{ page.version }})</a>
<br>
<a href="triplea:{{ page.mapName | escape | replace: " ", "%20"  }}" style="display: none;" class="button">Open with TripleA (Currently not working)</a>
<!-- WIP this needs a better design -->
