---
layout: default
---
<h2>{{ page.mapName | escape }}</h2>
{% if page.mapCategory %}<h4>Category: {{ page.mapCategory }}</h4>{% endif %}
{% if page.mapType == "MAP_SKIN" %}<h4>Type: Map Skin</h4>{% endif %}
<img src="{% if page.img %}{{ page.img }}{% else %}{{ '/images/missing_map.png' | prepend: site.baseurl }}{% endif %}" alt="Map Thumbnail">
{{ content }}
<br>
<a href="triplea:{{ page.mapName | escape | url_encode }}" class="button">Download with TripleA</a>
<p style="margin-top: -20px; font-size: 12px;">(Requires pre-release 1.9.0.0.6322 or higher)</p><!-- TODO remove this notice once a new stable release with this feature is out -->
<a href="{{ page.downloadUrl }}">Manual Download (v{{ page.version }})</a>
