---
layout: page
---
<p>
  <a href="{{ '/maps-list/all/' | prepend: site.baseurl }}">All</a>
  | <a href="{{ '/maps-list/featured/' | prepend: site.baseurl }}">Featured Maps</a>
  | <a href="{{ '/maps-list/categories/' | prepend: site.baseurl }}">Categories</a>
  | <a href="{{ '/maps-list/mods/' | prepend: site.baseurl }}">Mods and Skins</a>
  <input id="mapSearch" type="search" placeholder="Search" oninput="search(this)">
</p>
<div>
  {{ content }}
</div>

<script>
  function search(input){
    const queryArray = input.value.trim().split(" ");
    [].forEach.call(document.getElementsByClassName("maps-col"), function(current){
      if(queryArray.every(string => unescapeHtml(current.dataset.mapName).toLowerCase().includes(string.toLowerCase()))){
        current.removeAttribute("style");
      } else {
        current.style.display = "none";
      }
    });
  }
  function unescapeHtml(input){
    var element = document.createElement("textarea");
    element.innerHTML = input;
    return element.childNodes.length === 0 ? "" : element.childNodes[0].nodeValue;
  }
</script>
